.Toolbar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:56px;
    background-color: #1f1f1f;
    z-index: 90;
    display: flex;
    align-items: center;
    padding:0 20px;
    box-sizing: border-box;
    text-align: center;
}

nav {
    height:100%;
    margin-top:20px;
    margin-left: 20px;
}

.Logo{
    height:80%;
}

@media (max-width:499px) {
    .DesktopOnly{
        display:none;
    } 
    .Toolbar .Logo{
        display: none;
    }   
}

