.NavigationItem {
    width:100%;
    box-sizing: border-box;
    display: block;
    margin: 10px 0; 
}

.NavigationItem a {
    color: #fff;
    text-decoration: none;
    width:100%;
    display: block;
    box-sizing: border-box;
}

.NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active{
    color: #fff;
}

@media (min-width: 500px) {
    .NavigationItem {
        height:100%;
        box-sizing: border-box;
        margin:0;
        display: flex;
        align-items: center;
        width: auto;
    }
    
    .NavigationItem a {
        color: #fff;
        text-decoration: none;
        height:100%;
        padding:4px;
        margin: 6px;
        width: 100%;
    
    }

    .NavigationItem a:hover{
        color:#fb8b61;
    }
    
  
}