.Sidedrawer{
    position:fixed;
    top:0;
    left:0;
    z-index:200;
    width:280px;
    max-width: 70%;
    height:100%;
    background-color: #1f1f1f;
    box-sizing: border-box;
    padding:32px 16px;
    transition: transform 0.3s ease-in;
    color:#1f1f1f;
};

.Logo{
    height:10%;
};

/* 
Dont show for screens greater than 500px width 
*/

@media (min-width: 500px) {
    .Sidedrawer{
        display: none; 
    }
    .Sidedrawer.Logo{
        display: block
    }
};

.Open{
    transform: translateX(0)
}

.Close{
    transform: translateX(-100%);
}